// CUSTOM CHECKBOX

$checkbox-checkmark-size: 25px;
$checkbox-bg-color: #4C4E6C;

// states
$checkbox-checked-bg-color: #26263F;
$checkbox-disabled-bg-color: #a2a3b4;
$checkbox-focus-box-shadow-color: #c0c774;

.custom-checkbox {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	line-height: $checkbox-checkmark-size;
	cursor: pointer;

	&__checkmark {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: $checkbox-checkmark-size;
		height: $checkbox-checkmark-size;
		background-color: $checkbox-bg-color;
		box-shadow: 0 0 0 0 $checkbox-focus-box-shadow-color;
		transition: background-color 0.3s, box-shadow 0.3s;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		font-size: 15px;
		color: #fff;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;

		// checked styles
		&:checked + {
			.custom-checkbox__checkmark {
				background-color: $checkbox-checked-bg-color;

				.custom-checkbox__icon {
					opacity: 1;
				}
			}
		}

		// disabled styles
		&:disabled + {
			.custom-checkbox__checkmark {
				background-color: $checkbox-disabled-bg-color;
			}
		}

		// focus styles
		&:focus + {
			.custom-checkbox__checkmark {
				box-shadow: 0 0 0 3px $checkbox-focus-box-shadow-color;
			}
		}
	}

	&:hover {
		.custom-checkbox__input:not(:disabled):not(:checked) + {
			.custom-checkbox__checkmark {
				background-color: lighten($checkbox-bg-color, 10%);
			}
		}
	}
}

// CUSTOM RADIO

$radio-checkmark-size: 25px;
$radio-bg-color: #4C4E6C;

// states
$radio-checked-bg-color: #26263F;
$radio-disabled-bg-color: #a2a3b4;
$radio-focus-box-shadow-color: #c0c774;

.custom-radio {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	line-height: $radio-checkmark-size;
	cursor: pointer;

	&__checkmark {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: $radio-checkmark-size;
		height: $radio-checkmark-size;
		border-radius: 50%;
		background-color: $radio-bg-color;
		box-shadow: 0 0 0 0 $checkbox-focus-box-shadow-color;
		transition: background-color 0.3s, box-shadow 0.3s;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		font-size: 9px;
		color: #ffffff;
		transition: opacity 0.2s;
		opacity: 0;
	}

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;

		// checked styles
		&:checked + {
			.custom-radio__checkmark {
				background-color: $radio-checked-bg-color;

				.custom-radio__icon {
					opacity: 1;
				}
			}
		}

		// disabled styles
		&:disabled + {
			.custom-radio__checkmark {
				background-color: $radio-disabled-bg-color;
			}
		}

		// focus styles
		&:focus + {
			.custom-radio__checkmark {
				box-shadow: 0 0 0 3px $checkbox-focus-box-shadow-color;
			}
		}
	}

	&:hover {
		.custom-radio__input:not(:disabled):not(:checked) + {
			.custom-radio__checkmark {
				background-color: lighten($radio-bg-color, 10%);
			}
		}
	}
}