.google-map {
	height: 300px;
	background-color: #26263F;

	// hide bottom labels
	.gm-style-cc {
		display: none;
	}

	// hide google label
	a[href^="http://maps.google.com/maps"],
	a[href^="https://maps.google.com/maps"],
	a[href^="https://www.google.com/maps"] {
		display: none !important;
	}
}