html, body {
	height: 100%;
}

.wrap-for-sticky {
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}

.footer {
	&.-sticky {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}